<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meu Projeto Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('sobre') }}">Sobre</a> |
    </nav>
    
    {% block content %}{% endblock %}

    <script src="stylesheet" href="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>