{% extends "base.html" %}
{% block content %}

    <h1 class="display-1 text-center">Oi Flask!</h1>
    
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
              <figure class="figure">
                <img src="static/images/logo.png" class="figure-img img-fluid rounded" alt="Logo ISCTE" width="200">
                <figcaption class="figure-caption">a best place to learn</figcaption>
              </figure>
          </div>

          <div class="col">
              <figure class="figure">
                <img src="static/images/logo-flask-horizontal.webp" class="figure-img img-fluid rounded" alt="Logo Flask" width="250">
                <figcaption class="figure-caption">a microframework python</figcaption>
              </figure>
          </div>
        </div>
      </div>

      {% endblock %}